.header {
  max-width:1839.9px;
  min-width: 320px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left:24px;
  top:9px;
  margin-top: 107px;
  .logo {
    position: absolute;
    right: 4px;
    top: -110px;
  }
  .lang{
    position: absolute;
    bottom: 67px;
  }
  .nav {
    position: absolute;
    left:31px;
    bottom: 50px;
  }
  .nav__items{
    display: flex;
    flex-direction: row;
  }
}
.logo__link{
  position: relative;
  i.fas.fa-caret-left{
  color: #000000;
  position: absolute;
  right: 26px;
  bottom: -7px;
  font-size: 80px;
  }
}
